<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.scrolltest.api.tests.TestGETPerson"/>
      <class name="com.scrolltest.api.tests.TestDELETPerson"/>
      <class name="com.scrolltest.api.tests.TestPATCHPerson"/>
      <class name="com.scrolltest.api.tests.TestPOSTPerson"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
